{% extends "auth_base.html" %}
{% block title %} Changement mot de passe {% endblock title %}
{% block content %}
    <h2>Changer votre mot de passe.</h2>
        <p>Changer votre mot de passe.</p>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="{{ next }}">
        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4"></div>
            <button type="submit" class="btn btn-primary btn-lg">Valider</button>
        </div>
    </form>
    <p><a href="{% url 'dashboard:dashboard' %}">Dashboard</a></p>

{% endblock content %}