{% extends "dashboard_base.html" %}
{% load static %}
{% block title %} Panier {% endblock %}
{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Panier</h1>
    <a class="small" href="{% url 'shop:product_list' %}">Retour à la liste des produits</a>
</div>
    <!-- Panier -->
    <div class="card-body">
    <div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" class="cart">
        <thead>
            <tr>
                <th>Produit</th>
                <th>Quantité</th>
                <th>Remove</th>
                <th>Prix Unitaire</th>
                <th>Sous-Total</th>
            </tr>
        </thead>
        <tbody>
        {% for item in cart %}
        {% with product=item.product %}
        <tr>
            <td>{{ product.name }}</td>
            <td>
                <form action="{% url 'shop:cart_add' product.id %}" method="post">
                    {% csrf_token %}
                    {{ item.update_quantity_form.quantity }}
                    {{ item.update_quantity_form.override }}
                    <input class="btn btn-primary" type="submit" value="Update">
                </form>
            </td>
            <td>
                <form action="{% url 'shop:cart_remove' product.id %}" method="post">
                    <input class="btn btn-danger" type="submit" value="Remove">
                    {% csrf_token %}
                </form>
            </td>
            <td class="num">£ {{ item.price }}</td>
            <td class="num">£ {{ item.total_price }}</td>
        </tr>
        {% endwith %}
        {% endfor %}
        <tr class="total">
            <td>Total</td>
            <td colspan="3"></td>
            <td style="display: none;"></td>
            <td style="display: none;"></td>
            <td class="num">£ {{ cart.get_total_price }}</td>
        </tr>
        </tbody>
    </table>
    </div>
    </div>
    
    <p>
        <a href="{% url 'shop:product_list' %}" class="btn btn-default">Continuer saisie</a>
        <a href="{% url 'orders:order_create' %}" class="btn btn-primary">Aller à facture</a>
    </p>
{% endblock %}