{% extends "dashboard_base.html" %}
{% block title %} {{ product.name }} {% endblock title %}
{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Détail Du Produit</h1>
    <a class="small" href="{% url 'shop:product_list' %}">Retour à la liste des produits</a>
</div>
<div class="row">
            <!-- Card Product Detail -->
            <div class="col-lg-6">
                <div class="card border-bottom-dark h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-md font-weight-bold text-dark text-uppercase mb-1">
                                    {{ product.name }}</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">Prix: {{ product.price }} £</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-pound-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                        <!-- Divider -->
                        <hr class="sidebar-divider d-none d-md-block">
                        <form action="{% url 'shop:cart_add' product.id %}" method="post">
                            {{ cart_product_form }}
                            {% csrf_token %}
                            <input class="btn btn-primary" type="submit" value="Ajouter au panier">
                        </form>
                    </div>
                </div>
            </div>
</div>
{% endblock content %}