{% extends "dashboard_base.html" %}
{% block title %} Paiement {% endblock %}
{% block content %}
{% load widget_tweaks %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Paiement</h1>
    <a class="small" href="{% url 'shop:cart_detail' %}">Retour au panier</a>
</div>
<!-- Page Content -->
<div class="row px-5">
    
    <div class="col-lg-8">
    <!-- Customer Info Card -->
        <div class="card shadow mb-4">
            <div class="card-header">
                <h6 class="m-0 font-weight-bold text-primary">Information client</h6>
            </div>
            <div class="card-body">
                <form method="post" class="order-form">
                {% csrf_token %}
                    <div class="form-group">
                        <!--// name field -->
                        {% render_field form.name type="text" class="form-control" id="CustomerOrderName" placeholder="Nom du client" %}
                    </div>
                    <div class="form-group">
                        <!--// email field -->
                        {% render_field form.customer type="email" class="form-control" id="CustomerOrderEmail" placeholder="Email du client" %}
                    </div>
                    <div class="form-group">
                        <!--// address field -->
                        {% render_field form.address type="text" class="form-control" id="CustomerOrderAddress" placeholder="Adresse du client" %}
                    </div>
                    <div class="form-group">
                        <!--// phone number field -->
                        {% render_field form.phone_number type="text" class="form-control" id="CustomerOrderPhone" placeholder="Contact du client" %}
                    </div>
                    <input type="submit" value="Valider la commande" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
    
    <div class="col-lg-4">
    <!-- Cart Info Card -->
        <div class="card mb-4 py-3 border-bottom-secondary">
            <div class="card-body">
                <h4 class="text-primary">Commande en cours</h4>
                <ul>
                {% for item in cart %}
                    <li>
                        {{ item.quantity }}x {{ item.product.name }}:
                        <span>£ {{ item.total_price }}</span>
                    </li>
                {% endfor %}
                </ul>
                <span class="font-weight-bold text-dark">Total: £ {{ cart.get_total_price }}</span>
            </div>
        </div>
    </div>

</div>
{% endblock %}