{% extends "dashboard_base.html" %}
{% block title %} {{ customer.name }} {% endblock title %}
{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Détail Du Client</h1>
    <a class="small" href="{% url 'customers:customer_list' %}">Retour à la liste des clients</a>
</div>
<div class="row">
            <!-- Card Customer Detail -->
            <div class="col-lg-6">
                <div class="card border-bottom-dark h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-md font-weight-bold text-dark text-uppercase mb-1">
                                    Nom: {{ customer.name }}
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">Email: {{ customer.email }}</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">Solde: {{ customer.balance }} £</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-pound-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                        <!-- Divider -->
                        <hr class="sidebar-divider d-none d-md-block">
                        <a class="btn btn-primary" href="{{ customer_account.get_absolute_url }}">Compte</a>
                    </div>
                </div>
            </div>
</div>
{% endblock content %}